mat-card {
  background: #fafafa;
  margin: 2rem;
  padding: 2rem;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}

.transaction-wrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.dm-notification-headings {
  width: 80%;
  margin: 0 auto;
}
