<mat-card>
  <mat-card-title class="dm-notification-headings">
    {{readableNotification?.title || 'Error'}}
  </mat-card-title>
  <mat-card-content class="pt-4 dm-notification-headings">
    {{readableNotification?.body || 'Es gibt Probleme die nachricht zu erstellen!'}}
    <br>
    <p class="text-center mt-2" *ngIf="notification.content?.answer !== undefined">
      <strong>Antwort: {{(notification.content?.answer! | extractAnswer) || 'undefined'}}</strong>
    </p>
  </mat-card-content>
  <div class="transaction-wrapper mb-4">
    <mat-form-field>
      <mat-label>Absender der Benachrichtigung</mat-label>
      <label>
        <input matInput placeholder="Absender" [value]="creator$ | async" readonly>
      </label>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Transaktions Betrag</mat-label>
      <label>
        <input matInput placeholder="Betrag" [value]="notification.content?.share" readonly>
      </label>
    </mat-form-field>
  </div>
  <div class="w-100">
    <mat-form-field class="w-100">
      <mat-label>Transaktions Beschreibung</mat-label>
      <label>
        <textarea matInput placeholder="Beschreibung" [value]="description" readonly></textarea>
      </label>
    </mat-form-field>
  </div>
  <mat-card-actions class="mt-4 pt-4" align="end">
    <shared-notification-actions
      [expectedAnswers]="notification.content?.expectedAnswers"
      [loadingAgree]="loadingAgree"
      [loadingDecline]="loadingDecline"
      [loadingOk]="loadingOk"
      (answerNotification)="onAnswerNotification($event)"
    ></shared-notification-actions>
  </mat-card-actions>
</mat-card>
