<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4">
      <shared-button title="test" color="accent"></shared-button>
    </div>
    <div class="col-12 col-sm-4">
      <shared-default-text-area
        #textArea
        controlName="comment"
        label="Comment*"
        [parentForm]="form"
        placeholder="Leave a comment">
        <span hint>At least 4 characters</span>
        <span error *ngIf="textArea.control.hasError('minlength') && !textArea.control.hasError('required')">
        Please enter at least <strong>4</strong> characters
        </span>
        <span error *ngIf="textArea.control.hasError('required')">{{textArea.label}} is <strong>required</strong></span>
      </shared-default-text-area>
    </div>
    <div class="col-12 col-sm-4">
      <shared-default-text-input
        #input
        controlName="username"
        label="Username*"
        [parentForm]="form"
        placeholder="Enter a username">
        <!-- Custom errors -->
        <span error *ngIf="input.control.hasError('email') && !input.control.hasError('required')">
        Please enter a <strong>valid</strong> email address
        </span>
        <span error *ngIf="input.control.hasError('required')">{{input.label}} is <strong>required</strong></span>
        <span hint>User name can be Maxe</span>
      </shared-default-text-input>
    </div>
  </div>
</div>
