<div class="container dm-margin-top">
  <div *ngIf="relatedClaims.length > 0; else showNoTransactions">
    <h1 class="text-center">Offene Forderungen</h1>
    <shared-claim-list
      type="claim"
      [dataSet]="relatedClaims"
      [displayedColumns]="displayedColumns">
    </shared-claim-list>
  </div>

  <ng-template #showNoTransactions>
    <div class="positioning text-center">
      <h1 class="m-0">Keine Forderungen vorhanden</h1>
      <hr class="mb-4 mt-4">
      <h3 class="m-0">Erstellte Forderungen, die vom Schuldner Akzeptiert wurden erscheinen hier.</h3>
    </div>
  </ng-template>
</div>
