<h1 mat-dialog-title>Verteilung der Anteile für eine Sammeltransaktion</h1>
<div mat-dialog-content>
  <p class="text-center">
    Wie es aussieht wollen sie eine Sammeltransaktion erstellen. <br>
    Bitte geben die Anteile am Gesammtwert der Beteiligten an! <br>
    <span class="p-3"><strong>Gesamtwert: {{ data[0].aggregatedShare }}</strong></span>
  </p>
  <form [formGroup]="createBucketFormGroup">
    <ng-container formArrayName="participants">
      <div class="dm-flex-wrapper">
        <div class="dm-flex-sub w-100" *ngFor="let _ of participantsControl.controls; let i = index;">
          <p>{{ data[i].email }}</p>
          <div class="m-3">
            <mat-form-field appearance="outline">
              <mat-label>Anteil</mat-label>
              <label>
                <input matInput type="number" [formControlName]="i" placeholder="Anteil">
              </label>
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" (click)="onKeepEditing()">Zurück</button>
  <button mat-raised-button color="primary" (click)="onCreateBucketTransaction()">Transaction Erstellen</button>
</div>
