<div *ngIf="expectedAnswers === AGREE_DISAGREE">
  <button mat-raised-button [loading]="loadingAgree" color="accent" (click)="onAgree()">Annehmen</button>
  <button mat-raised-button [loading]="loadingDecline" color="warn" (click)="onDisagree()">Ablehnen</button>
</div>
<div *ngIf="expectedAnswers === OK">
  <button mat-raised-button [loading]="loadingOk" color="accent" (click)="onOk()">Ok</button>
</div>
