/* You can add global styles to this file, and also import other style files */

@import "node_modules/bootstrap-4-grid/scss/grid";
@import "src/app/sass/theme";
@import "src/app/sass/components/loading-button";
@import "src/app/sass/components/settings-button";
@import "src/app/sass/components/email-snackbar";

/* Universal reset for also all pseudo elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* force inheritance from body for everything (considered good practice) */
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%; // --> 1rem -> 10px }
}

body {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-body-wrapper {
  height: 80vh;
}
