<div class="container dm-margin-top">
  <div *ngIf="relatedDebts.length > 0; else showNoTransactions">
    <h1 class="text-center">Offene Verbindlichkeiten</h1>
    <shared-claim-list
      type="debt"
      [dataSet]="relatedDebts"
      [displayedColumns]="displayedColumns">
    </shared-claim-list>
  </div>
  <ng-template #showNoTransactions>
    <div class="positioning text-center">
      <h1 class="m-0">Keine Verbindlichkeiten vorhanden</h1>
      <hr class="mb-4 mt-4">
      <h3 class="m-0">Erstellte Verbindlichkeiten, die vom dir Akzeptiert wurden erscheinen hier.</h3>
    </div>
  </ng-template>
</div>
