@import "src/app/sass/animations";

.dm-relativ {
  position: relative;
}

.dm-pos-right {
  position: absolute;
  right: 0;
  top: .4rem;
  cursor: pointer;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
