<div *ngIf="(unreadNotifications$ | async) as notifications" class="dm-relativ">
  <h2 mat-dialog-title>Deine Benachrichtigungen
    <span class="dm-pos-right">
      <mat-icon [ngClass]="{'fa-spin': loading$ | async}" (click)="onReloadNotifications()">cached</mat-icon>
    </span>
  </h2>
  <mat-dialog-content class="mat-typography">
    <div *ngIf="notifications.length > 0; else showNoNotifications">
      <shared-single-notification *ngFor="let notification of unreadNotifications$ | async"
                                  [notification]="notification"></shared-single-notification>
    </div>
    <ng-template #showNoNotifications>
      <div class="text-center mt-4 mb-4">
        <h1 class="m-0">Keine Benachrichtigungen vorhanden!</h1>
      </div>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Zurück</button>
  </mat-dialog-actions>
</div>
