<mat-card>
  <mat-card-title class="text-center">Übersicht der Transaktionen mit: <br>
    "{{relatedUser.email}}"
  </mat-card-title>
  <div class="row">
    <div class="col-12 col-sm-6 p-4 text-center">
      <img src="assets/img/img_avatar1.png" alt="Avatar" class="avatar">
      <p class="mt-4"><strong>{{currentUser.username}} (Du)</strong></p>
    </div>
    <div class="col-12 col-sm-6 p-4 text-center">
      <img src="assets/img/img_avatar2.png" alt="Avatar" class="avatar">
      <p class="mt-4"><strong>{{relatedUser.username}}</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center" *ngIf="balance$ | async as balance">
      <p class="dm-balance-text" [ngStyle]="{'color': getColorBaseOn(balance.balance!)}">{{ balance.balance }} €</p>
      <mat-card-subtitle class="pt-3">{{ getSubtitle(balance.balance!) }}</mat-card-subtitle>
      <shared-button
        *ngIf="userNeedsToCompensate(balance.balance!)"
        (click)="onCompensate(balance.balance!)"
        color="accent"
        title="Ausgleichstransaktion erstellen!">
      </shared-button>
    </div>
  </div>
  <div class="row" *ngIf="relatedClaims$ | async as relatedClaims">
    <div class="col-12 dm-pos-rel">
      <!-- CLAIM LIST -->
      <pd-claim-overview [relatedClaims]="relatedClaims"></pd-claim-overview>
    </div>
  </div>
  <div class="row" *ngIf="relatedDebts$ | async as relatedDebts">
    <div class="col-12 dm-pos-rel">
      <!-- DEBT LIST -->
      <pd-debt-overview [relatedDebts]="relatedDebts"></pd-debt-overview>
    </div>
  </div>
</mat-card>
