<form [formGroup]="parentForm">
  <mat-form-field appearance="outline" [class]=classList>
    <mat-label>{{label}}</mat-label>
    <textarea [readonly]="readonly" rows="3" matInput [placeholder]=placeholder [formControlName]="controlName"></textarea>
    <mat-error *ngIf="control.invalid">
      <ng-content select="[error]"></ng-content>
    </mat-error>
    <mat-hint>
      <ng-content select="[hint]"></ng-content>
    </mat-hint>
  </mat-form-field>
</form>
