<h2 mat-dialog-title>Begleichung einer Transaktion</h2>
<mat-dialog-content>
  Um wie viel Euro wollen sie die Transaktion begleichen? <br>
  <strong>Maximal: {{ data.outstandingBalance }}</strong>
  <div class="m-4">
    <shared-default-text-input
      #amount
      controlName="amount"
      label="Begleichungsbetrag"
      [parentForm]="compensationForm"
      placeholder="Betrag der Begleichung"
      inputType="number"
      classList="w-100">
      <span suffix>euro_symbol</span>
      <span error *ngIf="amount.control.hasError('required') && !amount.control.hasError('max')">{{amount.label}}
        ist <strong>notwendig</strong></span>
      <span error *ngIf="amount.control.hasError('max')">Der {{amount.label}}
        darf nicht mehr als den Anteil der Schuld betragen!</span>
      <span error *ngIf="amount.control.hasError('min')">Der {{amount.label}}
        darf nicht weniger als 1 sein!</span>
    </shared-default-text-input>
  </div>
  <div class="m-4">
    <shared-default-text-input
      #description
      controlName="description"
      label="Beschreibung"
      [parentForm]="compensationForm"
      placeholder="Beschreibung"
      classList="w-100">
        <span error *ngIf="description.control.hasError('required') && !description.control.hasError('minlength')">
          {{description.label}} ist <strong>notwendig</strong></span>
      <span error *ngIf="description.control.hasError('minlength')">
          {{description.label}} muss <strong>mindestens 10 Zeichen</strong> beinhalten</span>
    </shared-default-text-input>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" [mat-dialog-close]="undefined">Zurück</button>
  <button mat-raised-button color="accent" (click)="onCompensation()">Transaktion Begleichen</button>
</mat-dialog-actions>
