<div class="container dm-margin-top">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Herzlich Willkommen {{ (user$ | async)!.username }}!</h1>
    </div>
    <hr>
  </div>
  <!--<div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-title class="text-center mb-5">Deine Übersicht</mat-card-title>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <mat-icon [inline]="true" class="font-size text-center">savings</mat-icon>
              </div>
              <div class="col-6 text-center">
                <h2>Deine Forderungen</h2>
                <hr>
                <h2>3,94€</h2>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <mat-icon [inline]="true" class="font-size text-center">receipt_long</mat-icon>
              </div>
              <div class="col-6 text-center">
                <h2>Deine <br> Schulden</h2>
                <hr>
                <h2>3,94€</h2>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div> -->
</div>
<pd-dashboard></pd-dashboard>
