<div class="container dm-margin-top">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Übersicht aller aktuell offenen Vorgänge mit anderen Usern</h1>
    </div>
  </div>
    <div class="row margin-bottom" *ngFor="let relatedUser of relatedUsers$ | async">
      <div class="col-12">
        <pd-user-relation [relatedUser]="relatedUser" [currentUser]="currentUser"></pd-user-relation>
      </div>
    </div>
</div>
