.dm-title {
  justify-content: start;
}

.dm-profile {
  margin-top: 2rem;
}

.dm-buttons {
  margin-top: 1rem;
}

.dm-btn-wrapper {
  justify-content: center;
  margin-top: 1rem;
}

.dm-settings {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

