<div class="container text-center dm-settings" *ngIf="user$ | async as user">
  <div class="row">
    <div class="col-12 dm-title">
      <h1>Einstellungen</h1>
    </div>
    <div class="col-12 dm-profile">
      <div class="col 12">
        <p>{{user.username}}</p>
      </div>
    </div>
    <div class="col-12 dm-buttons">
      <div class="row dm-btn-wrapper">
        <div class="col-8">
          <shared-button ClassList="dm-settings-button" buttonType="button" title="Account Einstellungen" color="primary"></shared-button>
        </div>
      </div>
      <div class="row dm-btn-wrapper">
        <div class="col-8">
          <shared-button ClassList="dm-settings-button" buttonType="button" title="Über uns" color="primary"></shared-button>
        </div>
      </div>
      <div class="row dm-btn-wrapper">
        <div class="col-8">
          <shared-button ClassList="dm-settings-button" buttonType="button" title="Impressum" color="primary"></shared-button>
        </div>
      </div>
      <div class="row dm-btn-wrapper">
        <div class="col-8">
          <shared-button ClassList="dm-settings-button" buttonType="button" title="Datenschutz" color="primary"></shared-button>
        </div>
      </div>
    </div>
  </div>
</div>
