<h1 mat-dialog-title>Passwort Zurücksetzen</h1>
<div mat-dialog-content>
  <p>
    Bitte geben sie ihre Email-Addresse ein, um ihr Passwort zurücksetzen zu können! <br>
    Sofern ihre Email-Adresse stimmt werden sie eine Mail zum zurücksetzen erhalten.
  </p>
  <div class="form-container">
    <mat-form-field>
      <mat-label>Email-Adresse</mat-label>
      <label>
        <input matInput [(ngModel)]="email">
      </label>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button class="ml-auto mr-auto m-2" mat-raised-button color="warn" (click)="onClose()">Schließen</button>
  <button class="ml-auto mr-auto m-2" mat-raised-button color="primary" (click)="onResetPassword()">Password
    zurücksetzen!
  </button>
</div>
