<div class="flex">
  <div class="data">
    Deine Email-Adresse wurde noch nicht verifiziert.
    Bitte gucke in deinem Email Postfach nach (eventuell auch im Spam) und klicke auf den Link.
    Solltes du keine Mail erhalten haben klicke auf den Button um erneut eine bestätigungsmail anzufordern!
    <br>
    <br>
    Du hast deine Mail bereits verifiziert? Bitte logge dich erneut ein, damit die Änderungen
    angewendet werden können.
  </div>
  <div class="dismiss mt-3">
    <button mat-raised-button color="accent" (click)="onResend()">
      Email Bestätigung erneut senden!
    </button>
  </div>
</div>

