<div class="container text-center dm-create-claim dm-margin-top" *ngIf="!loading">
  <div class="row">
    <div class="col-12">
      <h1>Transakionsdetails</h1>
    </div>
    <form [formGroup]="detailClaimForm" class="w-100">
      <div class="row">
        <div class="col-12 dm-input-padding">
          <shared-default-text-input
            controlName="creditor"
            label="Ersteller"
            [parentForm]="detailClaimForm"
            placeholder="Gläubiger"
            classList="w-100"
            [readonly]="true"
          >
          </shared-default-text-input>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 dm-input-padding">
          <shared-default-text-input
            controlName="createdAt"
            label="Erstelldatum"
            [parentForm]="detailClaimForm"
            placeholder="Erstelldatum"
            classList="w-100"
            [readonly]="true"
          >
          </shared-default-text-input>
        </div>
        <div class="col-12 col-sm-6 dm-input-padding">
          <shared-default-text-input
            controlName="amount"
            [label]="role === 'creditor' ? 'Ausstehend' : 'Dein Anteil'"
            [parentForm]="detailClaimForm"
            placeholder="Betrag der Schuld"
            classList="w-100"
            [readonly]="true"
          >
            <span suffix>euro_symbol</span>
          </shared-default-text-input>
        </div>
      </div>
      <div class="row">
        <div class="col-12 dm-input-padding">
          <shared-default-text-area
            #description
            controlName="description"
            label="Beschreibung"
            [parentForm]="detailClaimForm"
            placeholder="Beschreibung..."
            [readonly]="true"
            classList="w-100">
            <span error *ngIf="description.control.hasError('required')">{{description.label}}
              ist <strong>notwendig</strong></span>
            <span error *ngIf="description.control.hasError('maxlength')">{{description.label}}
              darf nicht mehr als <strong>200 Zeichen</strong> beinhalten!</span>
            <span hint>Maximial 200 Zeichen!</span>
          </shared-default-text-area>
        </div>
      </div>

      <div class="row mt-4" *ngIf="role === 'debtor'">
        <div class="col-12 col-sm-6 pb-3">
          <shared-button [routerLink]="['..']" title="Zurück zum Dashboard"
                         color="warn"></shared-button>
        </div>
        <div class="col-12 col-sm-6">
          <shared-button title="Transaktion Begleichen" color="accent" (click)="onCompensation()"></shared-button>
        </div>
      </div>

      <div class="row mt-4" *ngIf="role === 'creditor'">
        <div class="col-12 pb-3 text-center">
          <shared-button [routerLink]="['..']" title="Zurück zum Dashboard"
                         color="warn"></shared-button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="loading">
  <mat-spinner class="pos-abs-center"></mat-spinner>
</div>
