.dm-input-padding {
  padding: 1rem;
}

.dm-create-claim {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dm-margin-top {
  margin-top: 10rem;
}

.pos-abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

