<div class="container text-center dm-login">
  <div class="row">
    <form [formGroup]="loginForm" class="w-100" (submit)="onLogin()">
      <div class="col-12 dm-img-wrapper">
        <div class="col-12">
          <img class="dm-hero-img" src="../../../assets/img/logo.png">
        </div>
      </div>
      <div class="col-12 dm-input-wrapper dm-input-padding">
        <div class="row">
          <div class="col-12">
            <shared-default-text-input
              [prevent-keys]="[32]"
              controlName="email"
              label="Email"
              [parentForm]="loginForm"
              placeholder="Email-Adresse...">
            </shared-default-text-input>
          </div>
          <div class="col-12 dm-input-padding">
            <shared-default-text-input
              [prevent-keys]="[32]"
              controlName="password"
              label="Passwort"
              [parentForm]="loginForm"
              inputType="password"
              placeholder="Passwort...">
              <span hint><a class="dm-reset-link" (click)="openPasswordResetModal()">Passwort vergessen?</a></span>
            </shared-default-text-input>
          </div>
          <div class="col-12 text-center">
            <mat-checkbox formControlName="rememberMe" color="primary">Remember Me?</mat-checkbox>
          </div>
        </div>
      </div>

      <div class="col-12 dm-btn-wrapper">
        <div class="col-12">
          <shared-button buttonType="submit" title="Login" [loading]="(loading$ | async)!"
                         color="primary"></shared-button>
        </div>
        <div class="col-12">
          <a [routerLink]="[ '/../../auth/signup']">Noch kein Konto? Jetzt registrieren!</a>
        </div>
      </div>
    </form>
  </div>
</div>
