<mat-sidenav-container class="h-100" *ngIf="isLoggedIn$ | async as authState">

  <mat-sidenav #sidenav mode="over">

    <mat-toolbar>
      <mat-toolbar-row>
        <h2> DeMan - Debt Manager </h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>

      <div *ngIf="authState.isLoggedIn">

        <h2 matSubheader>Personal</h2>

        <a mat-list-item routerLink="/" style="height: 0;"></a>

        <a *ngFor="let item of personalRoutes"
           mat-list-item
           (click)="sidenav.close()"
           [routerLinkActiveOptions]="{ exact: true }"
           [routerLink]="[item.route]"
           routerLinkActive="list-item-active">
          <mat-icon matListIcon> {{ item.icon }} </mat-icon>
          {{item.title}}
        </a>
        <mat-divider></mat-divider>
      </div>

     <!-- TODO: reactive when groups are available -->
     <!-- <div *ngIf="authState.isLoggedIn">
        <h2 matSubheader>Groups</h2>

        <a *ngFor="let item of groupRoutes"
           mat-list-item
           (click)="sidenav.close()"
           [routerLinkActiveOptions]="{ exact: true }"
           [routerLink]="[item.route]"
           routerLinkActive="list-item-active">
          <mat-icon matListIcon> {{ item.icon }} </mat-icon>
          {{item.title}}
        </a>

        <mat-divider></mat-divider>
      </div>-->

      <h2 matSubheader>Account</h2>
      <div *ngIf="authState.isLoggedIn; else showOtherRoutes">
        <a
          mat-list-item
          (click)="onOpenNotifications()"
          routerLinkActive="list-item-active">
          <mat-icon [matBadgeHidden]="(notificationCount$ | async) === 0" [matBadge]="(notificationCount$ | async)"
                    matBadgeColor="warn"
                    matBadgeSize="small" matListIcon>mail
          </mat-icon>
          Benachrichtigungen
        </a>
        <a *ngFor="let item of accountRoutesLoggedIn"
           mat-list-item
           (click)="sidenav.close()"
           [routerLinkActiveOptions]="{ exact: true }"
           [routerLink]="[item.route]"
           routerLinkActive="list-item-active">
          <mat-icon matListIcon> {{ item.icon }} </mat-icon>
          {{item.title}}
        </a>
        <a
          mat-list-item
          (click)="onLogout()"
          routerLinkActive="list-item-active">
          <mat-icon matListIcon>logout</mat-icon>
          Logout
        </a>
      </div>

      <ng-template #showOtherRoutes>
        <a *ngFor="let item of accountRoutesNotLoggedIn"
           mat-list-item
           (click)="sidenav.close()"
           [routerLinkActiveOptions]="{ exact: true }"
           [routerLink]="[item.route]"
           routerLinkActive="list-item-active">
          <mat-icon matListIcon> {{ item.icon }} </mat-icon>
          {{item.title}}
        </a>
      </ng-template>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <core-navbar [isLoggedIn]="authState.isLoggedIn" (toggleSideNav)="sidenav.toggle()"></core-navbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
