@import '~@angular/material/theming';
@import "src/app/core/components/sidenav/sidenav-list/sidenav-list.component";

@include mat-core();

$candy-app-primary: mat-palette($mat-light-blue, 600);
$candy-app-accent:  mat-palette($mat-light-green, 600);

$candy-app-warn:    mat-palette($mat-red, 600);

$candy-app-theme: mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,
  )
));

@include angular-material-theme($candy-app-theme);
@include nav-theme($candy-app-theme);
