<mat-toolbar color="primary" class="dm-toolbar">
  <mat-toolbar-row>
    <button (click)="onToggleSidenav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>DeMan - Debt Manager</h1>
    <span class="menu-spacer"></span>
    <div class="ml-auto">
    <ul class="dm-navigation-list">

        <li>
          <!-- Legal Notice Link -->
          <button mat-icon-button>
            <mat-icon>account_balance</mat-icon>
          </button>
        </li>

      <!-- About $ FAQ Link -->
      <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>

      </ul>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
