.dm-toolbar {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.dm-navigation-list {
  display: flex;
  list-style: none;

  & > li {
    padding: 2rem;
  }
}

.mat-icon-button ::ng-deep .mat-button-focus-overlay {
  display: none;
}
