.dm-container {
    display: flex;
    text-align: center;
}

.dm-img-wrapper {
    display: inline-block;
}

.dm-hero-img {
    width: 20rem;
}

.dm-input-wrapper {
    margin-top: 2rem;
}

.dm-btn-wrapper {
    margin-top: 2rem;
}

.dm-login {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dm-input-padding {
  padding: 1rem;
}
