<div class="container text-center dm-login">
  <div class="row">
    <form [formGroup]="signupForm" (submit)="onSingUp()" class="w-100">
      <div class="col-12 dm-img-wrapper">
        <div class="col-12">
          <img class="dm-hero-img" src="../../../assets/img/logo.png">
        </div>
      </div>
      <div class="col-12 dm-input-wrapper">
        <div class="row">
          <div class="col-12 col-md-6 dm-input-padding">
            <shared-default-text-input
              [prevent-keys]="[32]"
              #username
              controlName="username"
              label="Benutzername"
              [parentForm]="signupForm"
              placeholder="Benutzername...">
                    <span error
                          *ngIf="(username.control.hasError('minlength') || username.control.hasError('max-length')) && !username.control.hasError('required')">
                    Benutzername muss <strong>mind. 5</strong> und darf <strong>max. 20</strong> Zeichen enthalten.
                    </span>
              <span error *ngIf="username.control.hasError('required')">{{username.label}}
                ist <strong>notwendig</strong></span>
            </shared-default-text-input>
          </div>
          <div class="col-12 col-md-6 dm-input-padding">
            <shared-default-text-input
              [prevent-keys]="[32]"
              #email
              controlName="email"
              label="Email"
              [parentForm]="signupForm"
              placeholder="Email-Adresse">
               <span error *ngIf="email.control.hasError('email') && !email.control.hasError('required')">
                Please enter a <strong>valid</strong> email address
              </span>
              <span error *ngIf="email.control.hasError('required')">{{email.label}}
                ist <strong>notwendig</strong></span>
            </shared-default-text-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 dm-input-padding">
            <shared-default-text-input
              [prevent-keys]="[32]"
              #firstName
              controlName="firstName"
              label="Vorname"
              [parentForm]="signupForm"
              placeholder="Vorname...">
            <span error *ngIf="firstName.control.hasError('required')">{{firstName.label}}
              ist <strong>notwendig</strong></span>
            </shared-default-text-input>
          </div>
          <div class="col-12 col-md-6 dm-input-padding">
            <shared-default-text-input
              [prevent-keys]="[32]"
              #lastName
              controlName="lastName"
              label="Nachname"
              [parentForm]="signupForm"
              placeholder="Nachname...">
              <span error *ngIf="lastName.control.hasError('required')">{{lastName.label}}
                ist <strong>notwendig</strong></span>
            </shared-default-text-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 dm-input-padding">
            <shared-default-text-input
              [prevent-keys]="[32]"
              #password
              controlName="password"
              label="Passwort"
              [parentForm]="signupForm"
              inputType="password"
              placeholder="Passwort...">
                    <span error
                          *ngIf="password.control.hasError('minlength') && !password.control.hasError('required')">
                        Passwort muss <strong>mind. 10</strong> Zeichen lang sein.
                    </span>
              <span error *ngIf="password.control.hasError('required')">{{password.label}}
                ist <strong>notwendig</strong></span>
            </shared-default-text-input>
            <div class="col-12 text-center">
              <mat-checkbox formControlName="rememberMe" color="primary">Remember Me?</mat-checkbox>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 dm-btn-wrapper">
        <div class="col-12">
          <shared-button buttonType="submit" title="Registrieren" [loading]="(loading$ | async)!" color="primary"></shared-button>
        </div>
        <div class="col-12">
          <a [routerLink]="[ '/../../auth/login']">Schon registriert? Jetzt Einloggen!</a>
        </div>
      </div>
    </form>
  </div>
</div>
