table {
    width: 100%;
}

.mat-elevation-z8 {
    box-shadow: none;
}

.dm-claim {
    color: green;
}

.dm-debt {
    color: red;
}

.mat-row {
  transition: background-color .5s ease;

  &:hover {
    background-color: lightgrey;
  }
}
