<mat-form-field>
  <input (keyup)="applyFilter($event)" matInput placeholder="Suche">
</mat-form-field>

<div class="mat-elevation-z6">
  <table mat-table [dataSource]="dataSource" matSort>


    <ng-container *ngFor="let transaction of displayedColumns" [matColumnDef]="transaction">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ transaction }} </th>
      <!-- <ng-container ngClass="{'dm-claim': {{type}} = 'claim', 'dm-debt': {{type}} = 'debt'}"> -->
      <td mat-cell *matCellDef="let element">
        {{ element[transaction] }}
      </td>
      <!-- </ng-container> -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickRow(row)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
