.dm-input-padding {
    padding: 1rem;
}

.dm-create-claim {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dm-margin-top {
  margin-top: 10rem;
}

.mat-chip-category { background-color: #689F38 !important; }

.hidden {
  visibility: hidden;
}
