<div class="container text-center dm-create-claim dm-margin-top">
  <div class="row">
    <div class="col-12">
      <h1>Neue Forderung</h1>
    </div>
    <form [formGroup]="createClaimForm" class="w-100">
      <div class="row">
        <div class="col-12 dm-input-padding">
          <mat-form-field class="w-100" appearance="outline" [hintLabel]="creditorHint">
            <mat-label>Gläubiger</mat-label>
            <mat-chip-list #chipList aria-label="Gläubiger">
              <mat-chip *ngFor="let creditor of creditors" [selectable]="selectable"
                        [removable]="removable" (removed)="removeCreditor()" class="mat-chip-category">
                {{creditor.email}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <label *ngIf="creditors.length < 1">
                <input placeholder="Gläubiger Hinzufügen"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addCreditor($event)">
              </label>
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngFor="let debtor of debtors; let i = index" formArrayName="amounts">
        <div class="col-12 col-sm-8 dm-input-padding">
          <mat-form-field class="w-100" appearance="outline" [hintLabel]="debtorHint[i]">
            <mat-label>Schuldner</mat-label>
            <mat-chip-list #debtorList aria-label="Schuldner">
              <mat-chip
                *ngIf="debtor.email !== undefined; else showInput"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeDebtor(debtor)"
                class="mat-chip-category">
                {{debtor.email}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <ng-template #showInput>
                <label>
                  <input placeholder="Schuldner Hinzufügen"
                         [matChipInputFor]="debtorList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="addDebtorIntoChip($event, i)">
                </label>
              </ng-template>
            </mat-chip-list>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-4 dm-input-padding">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Anteil des Users</mat-label>
            <input
              [formControlName]="i"
              matInput
              placeholder="Betrag">
            <mat-icon matSuffix>euro_symbol</mat-icon>
          </mat-form-field>
          <mat-error *ngIf="amountFormArray.at(i).invalid"></mat-error>
        </div>
      </div>
      <button (click)="addDebtor()" class="text-center" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
      </button>
      <div class="row">
        <div class="col-12 dm-input-padding">
          <shared-default-text-area
            #description
            controlName="description"
            label="Beschreibung"
            [parentForm]="createClaimForm"
            placeholder="Beschreibung..."
            classList="w-100">
            <span error *ngIf="description.control.hasError('required')">{{description.label}}
              ist <strong>notwendig</strong></span>
            <span error *ngIf="description.control.hasError('maxlength')">{{description.label}}
              darf nicht mehr als <strong>200 Zeichen</strong> beinhalten!</span>
            <span hint>Maximial 200 Zeichen!</span>
          </shared-default-text-area>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 pb-3">
          <shared-button [routerLink]="['..']" (click)="resetCreateClaimForm()" title="Abbrechen"
                         color="warn"></shared-button>
        </div>
        <div class="col-12 col-sm-6">
          <shared-button [loading]="addingTransaction" title="Transaktion Erstellen" color="primary"
                         (click)="onCreateTransaction()"></shared-button>
        </div>
      </div>
    </form>
  </div>
</div>
