<form [formGroup]="parentForm">
  <mat-form-field appearance="outline" [class]=classList>
    <mat-label>{{label}}</mat-label>
    <input [readonly]="readonly" matInput [placeholder]=placeholder [formControlName]="controlName" [type]="inputType">
    <mat-icon matSuffix>
      <ng-content select="[suffix]"></ng-content>
    </mat-icon>
    <mat-error *ngIf="control.invalid">
      <ng-content select="[error]"></ng-content>
    </mat-error>
    <mat-hint>
      <ng-content select="[hint]"></ng-content>
    </mat-hint>
  </mat-form-field>
</form>
